### 1. Import pandas and create a DataFrame with columns: Name, Age, Marks.
### Display the first 5 rows and dataset shape.

In [ ]:
import pandas as pd

# student = pd.read_csv("../Book1.csv")

student = {
    'name':['mandip','meghana','merina','kritika','omu','rabita','aaravi','ariket'],
    'age':[22,25,27,21,22,21,10,8],
    'marks':[80,76,89,79,80,68,100,100]
}

df = pd.DataFrame(student)
print("original student data:")

print(df.head())
print(f"student data shape: {df.shape}")

original student data:
      name  age  marks
0   mandip   22     80
1  meghana   25     76
2   merina   27     89
3  kritika   21     79
4      omu   22     80
student data shape: (8, 3)