### 4. Check for missing values in the dataset.
### Fill missing numerical values with the mean.

In [ ]:
import pandas as pd

df = pd.read_csv('../student_null.csv')


student_mean = df[['age','score']].mean()
detect_null = df.fillna(student_mean)

print(detect_null)

      name   age  score
0   mandip  20.0   80.0
1   merina  28.0   68.0
2  meghana  20.0   95.0
3  kritika  22.0   68.0
4   omisha  21.0   68.0
5   rabita  20.0   56.0
6    aravi   9.0   49.0
7   ariket  20.0   60.0